.lista {
    font-family: 'Open Sans', sans-serif;
}

.contenedor2 {
    display: flex;
    width: 100%;
    height: 100%;


}
.aboutemilia {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    color: dimgray;
    font-size: 30px;
    
}

.quote {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    padding-top: 36%;
    font-size: 15px;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    color: lightseagreen;
}

.q1 {
    display: flex;
    flex-direction: column;

    
}
.q2 {
    display: flex;
    flex-direction: column;
    
}
.IMG2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
}

.Star {
    background-color: rgba(255, 255, 255, 0.5);
}

.John {
    background-color: rgba(255, 255, 255, 0.5);
}
