p {
    font-family: 'Raleway', sans-serif;
}

h3 {
   
    font-family: 'Raleway', sans-serif
}

h1 {
    
    font-family: 'Raleway', sans-serif;

}

.lista {
    font-family: 'Open Sans', sans-serif;
}

.music {
    font-family: 'Raleway', sans-serif;
}
.twist {
    font-family: 'Raleway', sans-serif;
}

.album {
    font-family: 'Raleway', sans-serif;
}
.puntos {
    font-family: 'Open Sans', sans-serif;
    size: 10%;
}
