/*HOME*/
.contenedor {
    display: flex;
    width: 100%;
    height: 100%;


}
.NOMBRE {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    width: 15%;
    padding-right: 15%;
    color: dimgray;
    font-size: 30px;
}

.ALBUM {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    padding-top: 40%;
    font-size: 30px;
    justify-content: flex-end;

}

.tir {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.IMG {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
}

/*ABOUT*/
.contenedor2 {
    display: flex;
    width: 100%;
    height: 100%;


}
.aboutemilia {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    color: dimgray;
    font-size: 30px;
    
}

.quote {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    padding-top: 36%;
    font-size: 15px;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    color: lightseagreen;
}

.q1 {
    display: flex;
    flex-direction: column;

    
}
.q2 {
    display: flex;
    flex-direction: column;
    
}
.IMG2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 80%;
}

.Star {
    background-color: rgba(255, 255, 255, 0.5);
}

.John {
    background-color: rgba(255, 255, 255, 0.5);
}

#body {
    background-image: url("../img/about.jpg");
    width: 100%;
    background-size: 50px;
    height: 100%;
    background-position: right;
    
    
}

p {
    font-family: 'Raleway', sans-serif;
}

h3 {
   
    font-family: 'Raleway', sans-serif
}

h1 {
    
    font-family: 'Raleway', sans-serif;

}

director {
    font-family: 'Open Sans', sans-serif;
}


.lista {
    font-family: 'Open Sans', sans-serif;
}

.music {
    font-family: 'Raleway', sans-serif;
}
.twist {
    font-family: 'Raleway', sans-serif;
}

.album {
    font-family: 'Raleway', sans-serif;
}
.puntos {
    font-family: 'Open Sans', sans-serif;
    size: 10%;
}


.info {
    font-family: 'Open Sans', sans-serif;
    color: lightseagreen;
    background-color: ghostwhite;
    background-image: url(./img/img/about.jpg);
    padding: 400px;
    background-repeat: no-repeat;
    margin: 0%;
    padding-left: 6%;
    padding-top: 60%;
    padding-right: 30%;
    
}

.reference {
    font-family: 'Open Sans', sans-serif;
    color: lightseagreen;
}

.data {
    font-family: 'Open Sans', sans-serif;
    color: black; 
    font-weight:bolder
}

.menos {
    font-weight: lighter;
}
