/*HOME*/
.contenedor {
    display: flex;
    width: 100%;
    height: 100%;


}
.NOMBRE {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    width: 15%;
    padding-right: 15%;
    color: dimgray;
    font-size: 30px;
}

.ALBUM {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    padding-top: 40%;
    font-size: 30px;
    justify-content: flex-end;
   

}
.IMG {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

fa-solid fa-play {
    list-style: initial;
}
#body {
    background-image: url("../img/about.jpg");
    width: 100%;
    background-size: 50px;
    height: 800;
    background-position: right;
    
    
}

p {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;

}

director {
    font-family: 'Open Sans', sans-serif;
}


#body2 {
    background-image: url("../img/home.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 700;
    background-position: right;
}

.lista {
    font-family: 'Open Sans', sans-serif;
}

.music {
    font-family: 'Raleway', sans-serif;
}
.twist {
    font-family: 'Raleway', sans-serif;
}

.album {
    font-family: 'Raleway', sans-serif;
}
.puntos {
    font-family: 'Open Sans', sans-serif;
    size: 10%;
}
.emilia {
    font-family: 'Work Sans', sans-serif;
    width: 60px;
    color: dimgray;
}

.info {
    font-family: 'Open Sans', sans-serif;
    color: lightseagreen;
    background-color: ghostwhite;
    background-image: url(./img/img/about.jpg);
    padding: 400px;
    background-repeat: no-repeat;
    margin: 0%;
    padding-left: 6%;
    padding-top: 60%;
    padding-right: 30%;
    
}

.fotoemilia {
    height: 400px;
}

.reference {
    font-family: 'Open Sans', sans-serif;
    color: lightseagreen;
}

.data {
    font-family: 'Open Sans', sans-serif;
    color: black; 
    font-weight:bolder
}

.menos {
    font-weight: lighter;
}

.John {
  background-color:honeydew;
  
}